@import '../../index.css';
.portada {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    padding: 10% 2%;
    position: relative;
    transition: all 300ms ease-in-out;
    .titulo {
        bottom: 0;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 110px;
        text-align: justify;
        color: var(--light-text);
    }
    .nombre {
        display: flex;
        flex-wrap: wrap;
    }
    .profesion {
        font-family: 'Gemunu Libre', sans-serif;
        font-weight: 900;
        font-size: 40px;
        letter-spacing: 36px;
    }
    .profesionlight {
        color: var(--light-text-secondary);
        transition: all 300ms ease-in-out;
    }
    .profesiondark {
        color: var(--dark-text);
        transition: all 300ms ease-in-out;
    }
}

.light {
    background-image: url("../../Images/Port.png");
}

.dark {
    background-image: url("../../Images/Port-dark.png");
}

@media only screen and (max-width: 980px) {
    .portada {
        background-size: auto inherit;
        background-position-y: bottom;
        .titulo {
            font-size: 50px;
        }
        .saludo {
            margin-top: 90px;
        }
        .profesion {
            letter-spacing: 16px;
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 431px) {
    .portada {
        .profesion {
            letter-spacing: 10px;
            font-size: 20px;
        }
    }
}