@import '../../index.css';
.portada {
    position: relative;
    width: 100%;
    display: flex;
    /* padding: 10% 2% 10%; */
    align-items: center;
    z-index: 3;
    height: 100vh;
    transition: var(--transition-effect);
    &::before {
        content: "";
        background-image: url('../../Images/Fondo.jpg');
        position: absolute;
        background-size: cover;
        background-position: top center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        filter: brightness(15%);
        animation: fade 1000ms linear;
    }
    .portadaInfo {
        width: 100%;
        display: flex;
        margin-top: 100px;
        justify-content: center;
        flex-wrap: wrap;
        .texto {
            margin: 2% 0 10px;
            .titulo {
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 70px;
                text-align: justify;
                color: var(--light-text);
            }
            .nombre {
                display: inline;
            }
            .profesion {
                font-family: 'Gemunu Libre', sans-serif;
                font-weight: 900;
                font-size: 30px;
                letter-spacing: 22px;
                color: var(--light-text-secondary);
            }
        }
        .profile {
            width: 300px;
            height: 300px;
            &::before {
                content: "";
                background-image: url('../../Images/Profile2.jpg');
                border-radius: 50%;
                position: absolute;
                background-size: cover;
                background-position: top center;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                filter: brightness(110%);
                z-index: -1;
                animation: fade 2000ms linear;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .portada {
        padding-bottom: 10%;
        .portadaInfo {
            .texto {
                .titulo {
                    font-size: 50px;
                    text-align: center;
                }
                .nombre {
                    font-size: 40px;
                    display: inline-block;
                }
                .profesion {
                    letter-spacing: 10px;
                    font-size: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .portada {
        height: auto;
        padding-bottom: 10%;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}