@import '../../index.css';
.nav-container-responsive {
    position: fixed;
    top: 55px;
    right: 0;
    width: 100%;
    height: 100vh;
    .list-responsive {
        height: 80%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .list-item-responsive {
            .btn-nav {
                width: 100%;
                padding: 2% 0;
            }
        }
    }
}

.responsivelight {
    background-color: var(--light-button);
    transition: var(--transition-effect);
}

.responsivedark {
    background-color: var(--dark-background-primary);
    transition: var(--transition-effect);
}