@import '../../index.css';
.mySkillsdark {
    background-color: var(--dark-background-secondary);
    .mySkillsTitle {
        color: var(--dark-text-title);
    }
    .learning {
        color: var(--dark-text-title);
    }
}

.mySkillslight {
    background-color: var(--light-text);
    .mySkillsTitle {
        color: var(--light-text-title);
    }
    .learning {
        color: var(--light-secondary-text);
    }
}

.mySkillsdark,
.mySkillslight {
    overflow-y: scroll;
    z-index: 2;
    overflow: hidden;
    @media screen and(max-width: 1290px) {
        height: auto;
        padding-bottom: 50px;
    }
    &::before {
        content: "";
        width: 736px;
        height: 736px;
        position: absolute;
        background-color: var(--decoration-circle);
        border-radius: 100%;
        right: -422px;
        bottom: calc(-416px - 74.9px);
        z-index: -1;
        @media screen and (max-width: 1123px) {
            visibility: hidden;
        }
    }
    .mySkillsTitle {
        text-align: center;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        margin-bottom: 40px;
    }
    .allSkills {
        padding: 0 100px;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        @media screen and (max-width: 410px) {
            padding: 0;
        }
    }
    .learning {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 10px;
        font-size: 20px;
        line-height: 49px;
        text-align: center;
        margin-top: 30px;
        position: relative;
        z-index: 2;
    }
    .learningIcon {
        position: absolute;
        max-width: 200px;
        height: auto;
        bottom: 5%;
        @media screen and (max-width: 860px) {
            display: none;
        }
    }
}