@import '../../index.css';
@keyframes anim30 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(30deg);
    }
}

@keyframes anim40 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(40deg);
    }
}

@keyframes anim45 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(45deg);
    }
}

@keyframes anim50 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(50deg);
    }
}

@keyframes anim55 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(55deg);
    }
}

@keyframes anim60 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(60deg);
    }
}

@keyframes anim65 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(65deg);
    }
}

@keyframes anim70 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(0deg);
    }
}

@keyframes anim75 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(75deg);
    }
}

@keyframes anim80 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(80deg);
    }
}

@keyframes anim85 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(85deg);
    }
}

@keyframes anim90 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(90deg);
    }
}

@keyframes anim95 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(95deg);
    }
}

@keyframes anim100 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(100deg);
    }
}

@keyframes anim105 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(105deg);
    }
}

@keyframes anim110 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(110deg);
    }
}

@keyframes anim115 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(115deg);
    }
}

@keyframes anim120 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(120deg);
    }
}

@keyframes anim125 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(125deg);
    }
}

@keyframes anim130 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(130deg);
    }
}

@keyframes anim135 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(135deg);
    }
}

@keyframes anim140 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(140deg);
    }
}

@keyframes anim145 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(145deg);
    }
}

@keyframes anim150 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(150deg);
    }
}

@keyframes anim155 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(155deg);
    }
}

@keyframes anim160 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(160deg);
    }
}

@keyframes anim165 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(165deg);
    }
}

@keyframes anim170 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(170deg);
    }
}

@keyframes anim175 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(175deg);
    }
}

@keyframes anim180 {
    from {
        z-index: 4;
        transform: rotate(0deg);
    }
    to {
        z-index: 4;
        transform: rotate(180deg);
    }
}