@charset "UTF-8";
@import url("../../index.css");
.contactlight {
    background-color: var(--contact-light-background);
}

.contactlight .contactTitle {
    color: var(--contact-light-title);
}

.contactdark {
    background-color: var(--contact-dark-background);
}

.contactdark .contactTitle {
    color: var(--contact-dark-title);
}

@media screen and (max-width: 1167px) {
    .contactlight,
    .contactdark {
        height: auto;
    }
}

.contactlight .contactTitle,
.contactdark .contactTitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: normal;
}

.contactlight .contactMessage,
.contactdark .contactMessage {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    margin: 20px 0;
    color: var(--light-text);
}

.contactlight .contact,
.contactdark .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.contactlight .contact .contactForm,
.contactdark .contact .contactForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 900px;
    width: 600px;
}

.contactlight .contact .contactForm input,
.contactdark .contact .contactForm input {
    width: 90%;
    height: 50px;
    margin-bottom: 40px;
    outline: none;
    padding: 5px;
}

.contactlight .contact .contactForm textarea,
.contactdark .contact .contactForm textarea {
    margin-bottom: 25px;
    padding: 5px;
    outline: none;
    resize: none;
    width: 90%;
}

.contactlight .contact .contactForm .error,
.contactdark .contact .contactForm .error {
    background-color: var(--error-message);
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--light-text);
    margin-bottom: 5px;
    font-family: Open Sans;
}

.contactlight .contact .contactForm .error::after,
.contactdark .contact .contactForm .error::after {
    content: " 👉";
}

@media screen and (max-width: 1167px) {
    .contactlight .contact .contactForm .error::after,
    .contactdark .contact .contactForm .error::after {
        content: " 👇";
    }
}

.contactlight .contact .contactForm .sendForm,
.contactdark .contact .contactForm .sendForm {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    border-radius: 15px;
    max-width: 250px;
    width: 60%;
    background-color: var(--decoration-circle);
    color: var(--light-text);
    margin-bottom: 40px;
    outline: none;
    padding: 5px;
}

.contactlight .contact .media,
.contactdark .contact .media {
    padding: 30px 50px;
    padding-right: 0;
    max-width: 900px;
    width: 450px;
    border: none;
    border-left: solid 1px var(--light-text);
}

@media screen and (max-width: 1167px) {
    .contactlight .contact .media,
    .contactdark .contact .media {
        border: none;
        border-top: solid 1px var(--light-text);
    }
}

@media screen and (max-width: 333px) {
    .contactlight .contact .media,
    .contactdark .contact .media {
        padding-left: 0;
    }
}

.contactlight .contact .media .mediaTitle,
.contactdark .contact .media .mediaTitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: normal;
    color: var(--light-text);
    margin-bottom: 10px;
}

.contactlight .contact .media .mediaList,
.contactdark .contact .media .mediaList {
    list-style: none;
}

.contactlight .contact .media .mediaList .whats,
.contactdark .contact .media .mediaList .whats {
    cursor: pointer;
}

.contactlight .contact .media .mediaList li,
.contactdark .contact .media .mediaList li {
    color: var(--light-text);
}

.contactlight .contact .media .mediaList li p,
.contactlight .contact .media .mediaList li a,
.contactdark .contact .media .mediaList li p,
.contactdark .contact .media .mediaList li a {
    text-decoration: none;
    color: var(--light-text);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 49px;
}


/*# sourceMappingURL=Contact.css.map */