:root {
    --light-text: #ffffff;
    --light-background-secondary: #f8f6f6;
    --light-text-title: #5C71A7;
    --light-text-subtitle: #6C63FF;
    --dark-text: #444444;
    --dark-text-title: #D71FC4;
    --dark-text-subtitle: #FF70F1;
    --light-text-secondary: #FFF500;
    --light-button: #80A3FF;
    --light-button-radius: 3px solid #FFE600;
    --dark-button: #00155F;
    --dark-button-radius: 3px solid #444444;
    --hover-button-header: #00FF85;
    --transition-effect: all 100ms ease-in-out;
    --dark-background-primary: #373E4F;
    --dark-background-secondary: #1D2028;
    --decoration-circle: #01A4FF;
    --light-secondary-text: #575A89;
    --light-third-text: #00337E;
    --contact-light-background: #0071AF;
    --contact-light-title: #515151;
    --contact-dark-background: #3C3C3C;
    --contact-dark-title: #171717;
    --error-message: rgb(255, 43, 43);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&family=Open+Sans:wght@300&display=swap');
*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


/*Gist..................................*/

.container {
    height: 100vh;
    width: 100%;
    padding: calc(1% + 74.9px) 5% calc(1% + 74.9px);
    overflow: hidden;
    position: relative;
    transition: var(--transition-effect);
}

.btn {
    border: none;
    outline: none;
}

.btn:hover {
    cursor: pointer;
}

@media only screen and (max-width: 980px) {
    .container {
        height: 100vh;
    }
}